<html>
<head>
  <title>My Weather</title>
  <script type="text/javascript" charset="utf-8" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/knockout-3.2.0.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- http://erikflowers.github.io/weather-icons/ -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/weather-icons.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
